*, *::after,*::before {
    box-sizing: border-box;
}

body,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

header {
    padding: 1vw;
    background: yellowgreen;
}

#addBtn {
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;

}

#github {
    position: fixed;
    bottom: 0;
    right: 0;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5vw;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr) );

    gap: 2rem;
}
.book-card {
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
