*, *::after,*::before {
    box-sizing: border-box;
}

body,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 1vw;
    background: yellowgreen;
}

#addBtn {
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;

}

#github {
    position: fixed;
    bottom: 0;
    right: 0;
}