*, *::after,*::before {
    box-sizing: border-box;
}

:root{
    --gray:#f0eef1;
    --green:#9fff9c;
    --light-red: #ff9c9c;
    --white: #fffbfb;
}

body,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: var(--gray);
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 1vw;
    background: var(--white);
}

#addBtn {
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: none;
    width: 2rem;
    height: 2rem;
}

#github {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 2rem;
    height:2rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5vw;
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr) );

    gap: 2rem;
}
.book-card {
    background-color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    max-width: 500px;
}

.remove-btn,
.book-readStatus {
    width:80%;
    height: 2.4rem;

/* Modal */
}
.form-div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    padding: 3vh;
    background-color: var(--gray);
    visibility:hidden;
    transition: ease-in-out 0.3s ;  
    z-index: 1;
}

.div-form-open {
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}

#overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    visibility: hidden;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* css for mobile */
@media only screen and (max-device-width:1200px){
    #addBtn {
        bottom: 25px;
        right: 25px;
    }
    #github {
        bottom: 75px;
        right: 25px;
    }
}